/* hero section */

.hero-section {
  background-image: url(../images/hero-bg-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #7b7979;
}

/* nth-100 section */

@media screen and (min-width: 768px) {
  .nth-100 {
    background-image: url(../images/rode-nth100-lifestyle-insitu-female-looking-down-grey-1920x700-rgb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* nth-usb section */
@media screen and (min-width: 768px) {
  .nth-usb {
    background-image: url(../images/nth-usb-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* pod-mic section */

@media screen and (min-width: 768px) {
  .pod-mic {
    background-image: url(../images/pod-mic-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* wireless-go-II section */

@media screen and (min-width: 768px) {
  .wireless-go-II {
    background-image: url(../images/wireless-go-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* nt-usb-mini section */
@media screen and (min-width: 768px) {
  .nt-usb-mini {
    background-image: url(../images/nt-usb-mini-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Explore section */

.explore-01 {
  background-image: url(../images/microphones.png);
}

.explore-02 {
  background-image: url(../images/interfaces-and-mixers.png);
}

.explore-03 {
  background-image: url(../images/software.png);
}

.explore-04 {
  background-image: url(../images/accessories.png);
}

.explore-01,
.explore-02,
.explore-03,
.explore-04 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.explore-01:hover {
  background-image: linear-gradient(
      to right bottom,
      rgba(119, 119, 119, 0.35),
      rgba(119, 119, 119, 0.35)
    ),
    url(../images/microphones.png);
}
.explore-02:hover {
  background-image: linear-gradient(
      to right bottom,
      rgba(119, 119, 119, 0.35),
      rgba(119, 119, 119, 0.35)
    ),
    url(../images/interfaces-and-mixers.png);
}
.explore-03:hover {
  background-image: linear-gradient(
      to right bottom,
      rgba(119, 119, 119, 0.35),
      rgba(119, 119, 119, 0.35)
    ),
    url(../images/software.png);
}
.explore-04:hover {
  background-image: linear-gradient(
      to right bottom,
      rgba(119, 119, 119, 0.35),
      rgba(119, 119, 119, 0.35)
    ),
    url(../images/accessories.png);
}
